@model Wagebat.ViewModels.Users.UserInputVM
@{
    Layout = "_AdminLayout";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-add-user icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                Create new Acount
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
        <div class="page-title-actions">

            <div class="d-inline-block">
                <p>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-6" style="margin: 6px auto;">

        <div class="card">
            <div class="body">
                <form method="post" id="reg_form" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="@Model.Username" class="form-control shape" required placeholder="User name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="@Model.Email" class="form-control shape" required placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="@Model.PhoneNumber" class="form-control shape" required placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="@Model.Password" class="form-control shape" required placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="@Model.ConfirmPassword" class="form-control shape" required placeholder="Confirm Password">
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <div class="form-input margin-top-20 clearfix">
                        <input style="margin: 10px auto; display: block;" type="submit" class="btn btn-primary" value="Create">
                    </div>
                </form>
            </div>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
        </div>
    </div>
</div>
