@model Wagebat.Models.Transaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
    var counter1 = 0;
}

<script src="~/assets/scripts/jquery-1.10.2.min.js"></script>
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg" style="margin-top: 74px">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>


        <div class="row">
            <div class="col-8 card" style="padding-top: 12px; padding-left: 24px;">
                <h1 style="padding-left: 0px;">Question</h1>
                <div>
                    <hr />
                    <dl class="row">

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Question.Status)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Question.Status.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @if (Model.Question.Status == null && Model.Answer != null)
                            {
                                @Html.DisplayNameFor(model => model.Status.Name)
                            }
                            else
                            {
                                @Html.DisplayNameFor(model => model.Question.Status.Name)
                            }
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Question.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Question.Body)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.Raw(Model.Question.Body)
                        </dd>
                    </dl>
                </div>


            </div>
            @if (Model.Question.QuestionAttachments.Count > 0)
            {
                <div class="col-4 card">

                    <!-- ======= Portfolio Section ======= -->
                    <section id="portfolio" class="portfolio">

                        <div class="container" data-aos="fade-up">

                            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                <div class="portfolio-item filter-app">
                                    @foreach (var item in Model.Question.QuestionAttachments)
                                    {
                                        if (counter++ == 0)
                                        {
                                            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                                <div class="portfolio-item filter-app">
                                                    <div class="portfolio-img">
                                                        <img src="@item.Path" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="portfolio-info" style="height:100%; background:none;">
                                                        @*<h4>Question Images</h4>*@
                                                        @*<p>App</p>*@
                                                        <a style=" right: 42%; color: #47b2e4;" href="@item.Path" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i style="font-size: 34px; position: relative;" class="bx bx-zoom-in"></i></a>
                                                        <a href="portfolio-details.html" class="details-link" title="More Details"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="display:none;" class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                                <div class="portfolio-item filter-app">
                                                    <div class="portfolio-img"><img src="@item.Path" class="img-fluid" alt=""></div>
                                                    <div class="portfolio-info">
                                                        <h4>Question Images</h4>
                                                        @*<p>App</p>*@
                                                        <a href="@item.Path" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                                                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    }
                                </div>

                            </div>

                        </div>
                    </section><!-- End Portfolio Section -->

                </div>
            }
        </div>
        @if (Model.Answer != null)
        {
            <!--Answer-->
            <div class="row" style="margin-top:20px">
                <div class="col-8 card" style="padding-top: 12px; padding-left: 24px;">
                    <h1 style="padding-left: 0px;">Answer</h1>
                    <div>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                Date
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.AnswerDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Answer)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.Raw(Model.Answer)
                            </dd>
                        </dl>
                    </div>


                </div>
                @if (Model.TransactionAttachments.Count > 0)
                {
                    <div class="col-4 card">

                        <!-- ======= Portfolio Section ======= -->
                        <section id="portfolio" class="portfolio">

                            <div class="container" data-aos="fade-up">

                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                    <div class="portfolio-item filter-app">
                                        @foreach (var item in Model.TransactionAttachments)
                                        {
                                            if (counter1++ == 0)
                                            {
                                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                                    <div class="portfolio-item filter-app">
                                                        <div class="portfolio-img">
                                                            <img src="@item.Path" class="img-fluid" alt="">
                                                        </div>
                                                        <div class="portfolio-info" style="height:100%; background:none;">
                                                            @*<h4>Question Images</h4>*@
                                                            @*<p>App</p>*@
                                                            <a style=" right: 42%; color: #47b2e4;" href="@item.Path" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i style="font-size: 34px; position: relative;" class="bx bx-zoom-in"></i></a>
                                                            <a href="portfolio-details.html" class="details-link" title="More Details"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div style="display:none;" class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                                                    <div class="portfolio-item filter-app">
                                                        <div class="portfolio-img"><img src="@item.Path" class="img-fluid" alt=""></div>
                                                        <div class="portfolio-info">
                                                            <h4>Question Images</h4>
                                                            @*<p>App</p>*@
                                                            <a href="@item.Path" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                                                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }


                                        }
                                    </div>

                                </div>

                            </div>
                        </section><!-- End Portfolio Section -->

                    </div>
                }
            </div>
            <!--EndAnswer-->

            <!--Comments-->


            if (Model.Comments.Count > 0)
            {
                <div class="section-title" style=" margin-top: 50px; padding-bottom:0;">
                    <h2>All comments</h2>
                </div>

                <div class="faq-list">
                    <ul>
                        @foreach (var item in Model.Comments)
                        {

                            <li data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-alarm-exclamation icon-help"></i>
                                <a data-bs-toggle="collapse" data-bs-target="#faq-list-@item.Id" class="collapsed">
                                    @Html.Raw(item.Body)
                                    <i class="bx icon-show" style="margin-right: 75px">@item.User.UserName</i>
                                    <i class="bx bx-chevron-down icon-show"></i>

                                    <i class="bx icon-close" style="margin-right: 75px">@item.Date</i>
                                    <i class="bx bx-chevron-up icon-close"></i>
                                </a>
                                <div id="faq-list-@item.Id" class="collapse" data-bs-parent=".faq-list">
                                    <p>
                                        Hollo
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }


            <div class="row">
                <a href="#" style="text-align: center" data-placement="left" data-toggle="modal" data-target=".bd-example-modal-sm" title="Delete" onclick="confirm('@Model.Id', '@Model.QuestionId')">Add Comment</a>
            </div>
        }

        <input type="hidden" id="orderId" />
        <input type="hidden" id="questionId" />

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!--Modal-->
<div id="mod" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style=" max-width: 500px;">
        <div class="modal-content" style="margin-top: 77px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Comment</h5>
            </div>
            <div class="modal-body">
                <input id="comment" class="form-control shape" required placeholder="Comment">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteOrder()">Submit</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var confirm = function (id, questionId) {
            document.getElementById("orderId").value = id;
            document.getElementById("questionId").value = questionId;
            console.log(questionId)
        }

        var deleteOrder = function () {
            var _id = $("#orderId").val();
            var questionId = document.getElementById("questionId").value;
            var _comment = $("#comment").val();
            $.ajax({
                type: "POST",
                url: "/Comments/Create",
                data: { body: _comment, id: _id },
                success: function (result) {
                    if (result) {
                        $("#deleteModal").fadeOut(500);
                        $("#orderId").val(null);
                        window.location.href = "/Questions/details/" + questionId;
                    } else {
                        alert("Something went wrong or comment field is empty.");
                    }
                }
            });
        }

        var cancel = function () {
            $("#deleteModal").fadeOut(500);
        }
    </script>

}
